<app-header></app-header>
<div class="app-container">
    <app-login *ngIf="ui.currentPage==='login'"></app-login>
    <app-signup *ngIf="ui.currentPage==='signup'"></app-signup>
    <app-posts *ngIf="ui.currentPage==='posts'"></app-posts>
    <app-users-list *ngIf="ui.currentPage==='users-list'"></app-users-list>
    <app-appuser-page *ngIf="ui.currentPage==='appuser-page'"></app-appuser-page>
    <app-post-page *ngIf="ui.currentPage==='post-page'"></app-post-page>
    <app-new-message *ngIf="ui.currentPage==='new-message'"></app-new-message>
</div>