<header>
    <h1>{{ui.postForPostPage.title}}</h1>
    <p>{{ui.postForPostPage.author.username}}</p>
  </header>
  
  <section>
    <p>{{ui.postForPostPage.body}}</p>
  </section>
  
  <section>
    <button *ngIf="ui.loggedIn===true" color="accent"
      (click)="ui.setPage('new-message'); ui.messageType='comment';" mat-flat-button>
        New Comment
    </button>
    <h2>Comments</h2>
    <div *ngFor="let comment of ui.messages">
        <div *ngIf="comment.post?.id===ui.postForPostPage.id">
            <app-comment-card [comment]="comment"></app-comment-card>
        </div>
    </div>
  </section>